header
{
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100%;
}

h1
{
	color: blue;
	text-decoration: underline;
	font-size: 40px;
	font-family: Verdanna;
}

#setup
{
	display: flex;
	justify-content: center;
	align-content: center;
	border-bottom:2px ridge lightgrey ;
	padding:10px;
}



.setupElement
{
	height: 20px;
	margin: 20px;
	align-self: center;
	transition-property: color, filter;
	transition-duration: .4s;
	transition-timing-function: ease-out;

}

.setupElement:hover
{
	color: red;
	filter: drop-shadow(10px 10px 10px  black );
}

#chrono
{
	display: flex;
	justify-content: center;
	align-content: center;
}

#chrono p
{
	font-size: 16px;
	font-weight: 500;
	align-self: center;
}

:root {
	--grid-cols: 1;
	--grid-rows: 1;
}


#game
{
	padding: 20px;
	background: lightgrey;
	display: flex;
	justify-content: center;
}
/*
#container {
	display: grid;
	grid-gap: 1em;
	grid-template-rows: repeat(var(--grid-rows), 0fr);
	grid-template-columns: repeat(var(--grid-cols), 0fr);
}*/
#container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.grid-item {
	padding: 1em;
	border: 1px solid #ddd;
	text-align: center;
}







